# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

[user]
	name = zjs559
	email = 2327761623@qq.com
[core]
	excludesfile = C:/Users/rongyao/git.ignore